@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 16%;

    --card: 240 85% 97%;
    --card-foreground: 0 0% 3.92%;

    --popover: 0 0% 96%;
    --popover-foreground: 0 0% 4%;

    --primary: 259 58% 20%;
    --primary-foreground: 210 40% 98%;

    --secondary: 30 100% 60%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96%;
    --muted-foreground: 200 6% 50%;

    --accent: 208 80.69% 28.43%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 4%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
